
.underline {
    overflow-x: hidden;
    width:16rem;
    margin-top:.8rem;
    margin-bottom:.8rem;

    border-radius: 20px;

    &__inner {
        width: 400px;
        height:10px;
        position: relative;
        animation: slide 4s linear infinite;
        content:"";
        display: block;
        background: linear-gradient(to right, 
                #90EEAC 0%, 
                #90EEAC 16.666%, /* 1/6 */
                #8FEDFF 16.666%, 
                #8FEDFF 33.332%, /* 2/6 */
                #E8BAFB 33.332%, 
                #E8BAFB 50%,
                #90EEAC 50%,
                #90EEAC 66.666%, /* 4/6 */
                #8FEDFF 66.666%, 
                #8FEDFF 83.332%, /* 5/6 */
                #E8BAFB 83.332%, 
                #E8BAFB 100%
            );
    }
    
}

@keyframes slide {
    0% { left: -200px; }
    100% { left: 0px; }
}




@keyframes slide {
    0% { left: -200px; }
    100% { left: 0px; }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fadeInLeft {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeInBottom {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }



.fade-in-left {
    
    animation: fadeInLeft 1s ease-in-out; /* Apply the animation */
}
